Web.ini

Abdul Mohammed is inviting you to a scheduled Zoom meeting.

Topic: Abdul Mohammed's Personal Meeting Room

Join Zoom Meeting
https://us04web.zoom.us/j/2664573206?pwd=S0lsWFFNd3JTS2d4bGdtMjBqUno0UT09

Meeting ID: 266 457 3206
Passcode: 0HD9Yk

